/* Admin Login Section */

#admin .container {
  
}

#admin h1 {
  text-align: center;
  margin-bottom: 
}

#admin p {
  text-align: center;
  margin-bottom: 10px;
}

#admin .form-section {
  margin: 20px 0;
  border: solid black;
  height: 500px;
  padding: 10px;
  border-radius: 10px;
}

#admin .form-section .form-group {
  margin-top: 30px;
}

#admin .form-section .form-group label {
  display: block;
  margin-bottom: 5px;
}

#admin .form-section button {
  margin-top: 20px;
}

#admin .form-section h4 {
  text-align: center;
  margin: 10px 0;
}

/* Admin Page */

#users h1 {
  text-align: center;
  margin-bottom: 20px;
}

#projects {
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
}



#projects .list-items {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; /* Centers items horizontally in their grid cells */
  
}

#projects li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 60%;
  margin: 20px;
  padding: 20px;
  border: solid black;


}

#projects li:last-child {
  align-self: left;
}



#projects-cont li {
  margin: 10px;
}