* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/* Begin header section */

header {
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(148, 148, 148, 0.87), rgba(33, 33, 33, 0.875)), url('./public/types-of-gears.webp');
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  text-decoration: none;
}

header ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: white;
}

/* Begin about us section */

#about-us {
  
}

#about-us  > h1,
#about-us  > h2, 
#about-us  > h3 {
  text-align: center;
}

#about-us .about-us-content {
  margin-top: 20px;
  background-image: url('./cnc machinery.webp');
  background-size: cover;
  padding: 20px;
}

#about-us .container {
  background-color: rgba(255, 255, 255, 0.895);
  margin: 50px;
  height: 400px;  
  border-radius: 20px;
  padding: 10px;
}

#about-us .container h2 {
  text-align: center;
  margin-bottom: 10px;
}

#about-us .container p {
  text-align: left;
  margin-bottom: 10px;
}







/* Begin Estimate Section */
#estimates .container {
  background-color: rgb(0, 0, 255, 0.7);
  margin-top: 20px;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 10px black;
  padding: 10px 0; 
}

#estimates form {
  margin: auto;
  width: 80%;
  text-align: left;
}


#estimates h4 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

#estimates form {
  margin-top: 40px;
}


#estimates #description textarea  {
  margin-top: 10px;
  text-align: left;
  vertical-align: top;
  height: 200px;
  width: 100%;
}

#estimates .form-flex {
  width: 80%;
  margin: 40px 0;
  display: flex;
  justify-content: left;
}

#estimates .form-flex p {
  width: 300px;
  margin-right: 20px;
}

#estimates .form-flex input { 
  width: 200px;
  height: 30px; 
  margin-right: 10px;
}



#estimates #contact-info  {
 margin: 20px 0;
}

#estimates #contact-info p {
  text-align: center;
  margin-right: 20px;
}

#estimates #contact-info .form-group {
  display: flex;
  margin-top: 20px;
}

#estimates #contact-info .form-group p {
  width: 300px;
  text-align: left;
}

#estimates .gov-checkbox {
display: flex;
}

#estimates .gov-checkbox .checkbox-group {
  display: flex;
  margin-right: 30px;
}

#estimates .gov-checkbox .checkbox-group p {
  margin-left: 5px;
}

#estimates .button-container {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

#estimates button {
  text-align: center;
  width: 100px; 
  height: 40px; 
}








/* Begin Case Studies Section */

#case-studies {
  margin: 20px 0;
}

#case-studies .container {
  text-align: center;
}

#case-studies .case-study-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#case-studies .card {
  width: 30%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

#case-studies img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Begin testimonials section */

#testimonials .container {

 
}

#testimonials button {
  height: 20px;
}

#testimonials .testimonial-cards {
  display: flex;
  align-items: center;
}

#testimonials .block-cont {
display: flex;
}

#testimonials .block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  align-items: center;

}

#testimonials img {
  width: 200px;
}

#testimonials p {
  width: 50%;
  text-align: center;

}



/* Project Page */






