* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/* Begin header section */

header {
  margin-bottom: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  text-decoration: none;
}

header ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

/* Begin about us section */

#about-us > h1,
#about-us > h2, 
#about-us > h3 {
  text-align: center;
}

#about-us .container {
  margin-top: 50px;  
  display: flex;
  gap: 20px;
}

#about-us .left {
  width: 40%;
}

#about-us img {
  width: 100%;
}

#about-us .right {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60%;
  justify-content: center;
}


/* Begin Estimate Section */
#estimates .container {
  background-color: rgb(0, 0, 255, 0.7);
  margin-top: 20px;
  color: white;
  text-align: center;
  
}

#estimates form {
  margin: auto;
  width: 80%;
}

#estimates h4 {
  text-align: center;
  font-size: 2rem;
}

#estimates .form-flex {
  width: 80%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#estimates #description input {
  height: 200px;
  width: 100%;
}

#estimates .form-flex p {
  width: 50%;
}

#estimates .form-flex input {
  width: 30%;
  height: 25px;
  margin-left: 10px;
}

#estimates .gov-checkbox {
display: flex;
gap: 10px;
margin: auto;
background-color: black;
justify-content: center;
}

#estimates button {
  width: 100px;
  height: 25px;
  text-align: center;
}






/* Begin Case Studies Section */

#case-studies .container {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
}

#case-studies .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#case-studies img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Begin testimonials section */

#testimonials .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 400px;
 
}

#testimonials button {

}

#testimonials .block-cont {
 display: flex;
 overflow: hidden;
}

#testimonials .block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  align-items: center;

}

#testimonials img {
  width: 200px;
}

#testimonials p {
  width: 50%;
  text-align: center;

}

/* Admin Section */

#users {
  text-align: center;
}

#projects {
background-color: yellow;
display: flex;
flex-direction: column;
align-items: center;
}



#projects .list-items {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: green;
  justify-items: center; /* Centers items horizontally in their grid cells */
}

#projects li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 40%;
  margin: 20px;
  background-color: aqua;


}

#projects li:last-child {
  align-self: left;
}



#projects-cont li {
  margin: 10px;
}




